*
{
    margin:0;
    padding:0;
}

body
{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto;
    grid-template-areas: "header header header"
                         "nav nav nav"
                         "main main aside"
                         "footer footer footer";
}

header 
{
    background-color: blue;
    color: white;
    padding: 20px;
    grid-area: header;
}
    
nav 
{
    background-color: yellow;
    grid-area: nav;
}

nav ul
{
    list-style-type: none;
    display: grid;
    grid-template-columns: 33% 33% 34%;
    text-align: center; 
}

nav ul ul 
{
    position: absolute;
    display: none;
    background-color:chartreuse;
    padding: 0;
    width: 100%;
}

nav > ul > li
{
    position: relative;
}

nav > ul > li:hover ul
{
    display: block;
}

main 
{
    background-color: darkblue;
    color: white;
    grid-area: main;
}
    
aside 
{
    background-color: lightgreen;
    grid-area: aside;
}
    
footer 
{
    background-color: darkgreen;
    color: white;
    grid-area: footer;
}